.sol{
	display:inline-block; width: 10%; height: 35%;
	position: fixed; right: 0px;
}
.mundo{
	display:inline-block; width: 25%; height: 25%;
	position:fixed; bottom: 0px; left:0px;
}
.luna{
	display:inline-block; width: 40%; height: 20%;
	position: fixed; bottom: 0px; left:30%;
}
#nave {
	position: fixed;top: 0px; left: 45%;
	width: 49px; height: 88px;

}
img {
    width:100%;
    height: 100%;
}
