#contenedor,html{
	height:100%;padding:0px;margin:0px;
	background-image: url("../img/fondo.png");
	font-family: Arial;
}

#izquierda{
	display: inline-block; 
	width: 25%;
	height: 100%;
	position: fixed;left: 0px;
	background-image: url("../img/mundoSmartphone.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
	pointer-events: auto;
}
.controlesNave{
	width: auto; height: auto; 
	max-width: 90px;
	background-color: #00FA9A;
	margin: 10px;
	width: 100%;
	border-style: outset;
	border-color: #2E8B57;
	font-size: 100%;
	padding: 2px;
	margin-bottom: 15px;
}

#botonOn{
	display: none;
	border-style: outset;
	border-color: #2E8B57;
	background-color: #00FA9A;
	margin: 10px;
	margin-top: 5%;
	color: black;
	width: 70px;
	height: 70px;
	background-image: url("../img/propulsor.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
	text-align: center;
}
#botonOn:active {border-style: inset; background-color: #2E8B57;}

#derecha{display: none;}
#derechaSmartphone{
	background-image: url("../img/sol.png");
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 60%;
	display:block !important;
	pointer-events: auto;
	width:35%;height:100%;
	position: fixed; right: 0px;
}

#reanudaSmartphone:active {border-style: inset;background-color: #2E8B57;}
#reanudaSmartphone:hover {background-color: #2E8B57;} 
#pausaSmartphone:active {border-style: inset;background-color: #2E8B57;font-size: 100%;}
#pausaSmartphone:hover {background-color: #2E8B57;} 
#reiniciaSmartphone:active {border-style: inset;background-color: #2E8B57;}
#reiniciaSmartphone:hover {background-color: #2E8B57;} 
#ayudaSmartphone:active {border-style: inset;background-color: #2E8B57;}
#ayudaSmartphone:hover {background-color: #2E8B57;} 
#botonAjustesSmartphone:active {border-style: inset;background-color: #2E8B57;}
#botonAjustesSmartphone:hover {background-color: #2E8B57;}
#close:active {border-style: inset;background-color: #2E8B57;}
#close:hover {background-color: #2E8B57;} 
#pausaSmartphone:hover {background-color: #2E8B57;font-size: 100%;}

#reanudaSmartphone {
	border-style: outset;
	border-color: #2E8B57;
	display: none;
	background-color: #00FA9A;
	color: black;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center; 
	font-size: 130%;
	width: 90%;
	height: 70px;
	background-image: url("../img/play.png");
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: 0% 50%;
	pointer-events: auto;
}
#pausaSmartphone {
	border-style: outset;
	border-color: #2E8B57;
	display: inline-block;
	float: right;
	background-color: #00FA9A;
	margin: 10px;
	color: black;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/instrucciones.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
}
#reiniciaSmartphone {
	border-style: outset;
	border-color: #2E8B57;
	display: none;
	background-color: #00FA9A;
	color: black;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center; 
	font-size: 130%;
	width: 90%;
	height: 70px;
	background-image: url("../img/reinicia.png");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 7px 50%;
	pointer-events: auto;
}
#ayudaSmartphone {
	border-style: outset;
	border-color: #2E8B57;
	display: none;
	background-color: #00FA9A;
	color: black;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center; 
	font-size: 130%;
	width: 90%;
	height: 70px;
	background-image: url("../img/ayuda.png");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 7px 50%;
	pointer-events: auto;
}
#botonAjustesSmartphone{
	border-style: outset;
	border-color: #2E8B57;
	display: none;
	background-color: #00FA9A;
	color: black;
	margin: 5%;
	margin-bottom: 2px;
	text-align: center; 
	font-size: 130%;
	width: 90%;
	height: 70px;
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 7px 50%;
	pointer-events: auto;
}

#settings{
	display: none;
	background-image: url("../img/fondo_instrucciones.jpg");
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
#dificultad {
	padding: 10px;
	font-size: 120%;
}
#modeloLuna {
	padding: 10px;
	font-size: 120%;
}
#modeloNave {
	padding: 10px;
	font-size: 120%;
}

#menuInstrucciones {
	background-image: url("../img/fondo_instrucciones.jpg");
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
#menuInstrucciones b {
	background-color: #00FA9A;
	border-style: outset;
}
#close {
	background-color:#00FA9A;
	border-style: solid;
	border-color: #2E8B57;
	width: 40px;
	max-width: 50px;
	position: absolute;
	top: 2px;
	right: 2px;
}

#zonaAterrizaje{
	height:15%;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0%;
}
#luna {
	height: 100%; 
	width: 100%;
}

#nave{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:15%;
}
#imgNave{
	height:100%;
	display: block;
	margin: auto;
}
#imgMotor{
	height: 40%;
	display: none;
	margin: auto;
}

#gameOver{
	background-image: url("../img/fondo_instrucciones.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 80%;
	left: 10%;
	top: 10%;
}
#jugarOtraVez{display: none;}
#jugarAgain{display: none;}
#userWin{
	background-image: url("../img/fondo_instrucciones.jpg");
	text-align: center;
	border-style: outset;
	position: absolute;
	display: none;
	width: 80%;
	left: 10%;
	top: 10%;
}
