body {background-image:url(../img/fondo.png);}

#luna {
	position: fixed;bottom: -4px; left: 35%; width: 50%;
}
#mundo {
	position: fixed;bottom: -4px; left: 0%;
}
#sol {
	position: fixed;right: 0px;
}